@import './vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import './vendor/animate-css/animate';

@import './CustomVariables.scss';

@import './MailBox.scss';
@import './Network.scss';
@import './Tile.scss';
@import './Footer.scss';
@import './ShowcasePanel';
@import './Signin';
@import './LoginFormModal';

@import './User';

@mixin flexbox(){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

html{
	position: relative;
	min-height: 100%;
}

body{
	font-family: 'Lato', sans-serif;
	// margin-bottom: $footer-height;
	background-color: #F7F7F7;
}

#App{
}

img{
	@extend .img-responsive;
}

.container{
	&-fluid{
		padding-left: 0;
		padding-right: 0;
	}
}
.Main-Content{
	min-height: 865px;
}
.navbar{
	margin-bottom: 0;

	&-brand{
		padding: 0;
		margin: 0;
	}
	&-default{

		& .navbar-toggle{
			border-color: black;
			font-weight: bold;
		}
		// & .navbar-toggle:hover, & .navbar-toggle:focus{
		// 	background-color: #AFAFAF;
		// 	color: white;
		// }
	}
	& .main-navbar{
		
		& li:hover{
			background-color: #3a3a3a;

			& a{
				color: #F2F2F2;
			}
		}
		// & li:last-child{
		// 	background-color:transparent;
		// }
	}

	& ul a{
		font-size: 1.4em;
		font-weight: 400;
	}
}

.grid{
	&__container{

		&--hr-btm{
			border-bottom: 1px solid #d2d2d2;
			box-shadow: 0 2px 10px rgba(0,0,0,0.1);
			z-index: 5;
			position: relative;
		}
		&--bg-white{
			background-color: #fff;
		}
		&--bg-grey{
			background-color: #EDEFED;
		}
		&--bg-light-blue{
			background-color: #419798;
		}
	}
	&__wrapper{
		padding-top: 62px;
		padding-bottom: 32px;
	}

	&__row{
		// add padding
		&--same-height{
			@include flexbox();
		}
	}

	&__col{
		margin-bottom: 7.5px;
		&--bg-white{
			background: #fff;
		}
	}

	&__thumbnail{
		& > img{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

// Join Page

.JoinBox{
	&__container{
		@extend .container;
		@include flexbox();

		align-items: center;
		justify-content: center;
	}
}

// Form Box
.FormBox{
	border: 1px solid black;
	padding-top:6em 3em;
	max-width: 650px;

	&__btn{
		&--full-width{
			width: 100%;
		}
		&--submit{
			background-color: #e39d58;
			border-radius: 0;
			height: 60px;
			width: 100%;
			font-size: 18px;
		}
	}
}
@media (max-width: $grid-float-breakpoint){
	.FormBox{
		border: 0;
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 0;
	}
}

// BioInfo
.BioInfo{
}

//BioInfoCard
.BioInfoCard{
	width: 800px;
	box-shadow: 5px 5px 4px rgba(0,0,0,0.3), 0 0 40px rgba(128,128,128,0.1) inset;
	border-color: #dedede;
	margin-bottom: 20px;
	background-color: #FFFFFF;

	& .btn:first-child{
		margin-right: 10px;
	}
}

// MEDIA
.Media{
	@include flexbox();
	padding: 20px;
	border-radius: 0px;

	&__figure{
		margin-right: 1.1em;

		& img{
			max-width: none;
		}
	}
	&__body{
		& *:first-child{
			margin-top: 0;
		}
	}
}

// Scrollable
.Scrollable{
	&__list{
		height: auto;
		max-height: 500px;
		overflow-x: hidden;
	}
	&__area{
		direction: ltr;
		height: 100%;
		overflow: hidden;
		position:relative;
	}
}

// Dashboard
.Dashboard{
	padding-top: 50px;
	padding-bottom: 50px;
	&__Heading{
		font-weight: bold;
		color: #333333;
	}
	&__Sub-Heading{
		font-weight: bold;
		color: lighten(#333333,10%);
	}
	&__Sub-Content{
		margin-bottom: 2em;
	}
}

// Resources
.Resources{
	& .Tile__Content a{
		color: darken(#F3F5F6,45%);
	}
}

// Settings
.Settings{
	padding-top: 60px;
}

// MEDIA QUERIES
@media (max-width: $grid-float-breakpoint) {

	.navbar{
		& .main-navbar{
			background-color: #F7F7F7;

			& .navbar-btn > a{
				width: 100%;
			}
		}
	}

	#MainNavbar{
		& ul{
			float: left !important;
			width: 100%;
		}
	}
}

// Helpers
.bg{
	&--white{background-color: #ffffff;}
	&--grey{
		background-color: #cccccc;
		&-dark{background-color: #222222;}
		&-google{background-color: #CFD8DC;}
	}
	&--terracotta{background-color: #B53B24;}
	&--redish{background-color: #A94442;}
}
.no{
	&--padding{padding: 0 0 0 0;}
	&--padding-top{padding-top: 0;}
	&--padding-right{padding-right: 0;}
	&--padding-bottom{padding-bottom: 0;}
	&--padding-left{padding-left: 0;}

	&--bg{background-color: transparent;}
}
.full{
	&--width{
		width: 100%;
	}
}
.display{
	&--flex{@include flexbox();}
	&--in-center{
		@include flexbox();
		align-items: center;
		justify-content: center;

		height: 100%;
	}
	&--none{display: none;}
}
.CENTER-NOW{
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.hr{
	&--black{border-color: #000000;}
	&--2x{border-width: 2px;}
}