// Footer
.Footer{
	// height: $footer-height;
	// position: absolute;
	// bottom: 0;
	width: 100%;
	background-color: #323A45;
	color: whitesmoke;

	&__Logo{
		padding-top: 20px;
	}
	&__Heading{
		font-size: 1.1em;
		text-transform: uppercase;

	}
	&__Item{
		& p, & address {
			font-size: 10px;
		}
		& hr{
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	&__Newsletter{
		@extend .center-block;
		width: 500px;
	}

}