.Inbox{
	& .MailBox{
		width: 100%;
		border: 1px solid darken(#ccc,10%);
		margin-bottom: 0;
	}
	& .MessageInputBox{
		& textarea{
			width: 100%;
			margin-top: 5px;
			margin-bottom: 2px;
		}
	}
	& .leftSection{
		& li{
			background-color: #ccc;
			margin: 5px 0;
		}
	}
}