.ShowcasePanel{
	// margin-bottom: 10px;
	min-height: 300px;
	display: flex;
	align-items: center;

	& .Media {
		@extend .container;
		display: flex;
		align-items: center;
		// justify-content: center;
		// box-shadow: 5px 5px 4px rgba(0,0,0,0.3), 0 0 40px rgba(128,128,128,0.1) inset;
	}
	& .Media_figure{}
	& .Media__body{
		padding-top: 10px;
		padding-bottom: 10px;
	}
}